body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.banner {
    background-image: url('./images/dark-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.borders {
    border: 2px solid black;
    border-radius: 8px;
}

.exp {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    color: #12141D;
}

.line {
    height: 1px;
    width: 70px;
    background-color: #6244C5;
    margin: 5px 0px;
}

.year {
    color: #6244C5;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.company {
    color: #12141D;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
}
.exp-desc{
    color: #5A5A5A;
    font-size: 15px;
}
.pad{
    padding: 125px 0px 0px 0px;
}
.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
  }
  
  .timeline-with-icons .timeline-item {
    position: relative;
  }
  
  .timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }
  
  .timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: hsl(217, 88.2%, 90%);
    color: hsl(217, 88.8%, 35.1%);
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-tabs{
    border: none !important;
  }
  .nav-item{
    border: 1px solid #212529BF !important;
    border-radius: 5px !important;
    color: #212529BF;
  }

  .nav-item:hover{
    background-color: #6244C5;
    color: white;
  }
  .nav-item.active{
    background-color: #6244C5 !important;
    color: white !important;
  }
  .blog-wrapper{
    box-shadow: 11px 11px 20px 20px rgba(1, 41, 112, 0.08);
    transition: 0.5s;
  }
  .blog-wrapper:hover{
    transform: scale(1.05);
  }
  .blog-wrapper:hover .githubIcon{
    visibility: visible;
    right: 10px;
  }
  .project-desc{
    height: 75px;
    font-size: small;
  }
  .blog-img{
    position: relative;
  }
  .githubIcon{
    position: absolute;
    bottom : 10px;
    right : -50px;
    background-color: white;
    border-radius: 5px;
    transition: right 0.5s ease;
    visibility: hidden;
  }