body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.banner {
    background-image: url('./images/dark-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.borders {
    border: 2px solid black;
    border-radius: 8px;
}

.exp {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    color: #12141D;
}

.line {
    height: 1px;
    width: 70px;
    background-color: #6244C5;
    margin: 5px 0px;
}

.year {
    color: #6244C5;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.company {
    color: #12141D;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
}
.exp-desc{
    color: #5A5A5A;
    font-size: 15px;
}
.pad{
    padding: 125px 0px 0px 0px;
}
.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
  }
  
  .timeline-with-icons .timeline-item {
    position: relative;
  }
  
  .timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }
  
  .timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: hsl(217, 88.2%, 90%);
    color: hsl(217, 88.8%, 35.1%);
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-link{
    /* background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    padding: 5px 25px; */
    background-color: #f8f9fa; /* Light grey background */
    color: #343a40; /* Dark grey text */
    border: 1px solid #dee2e6; /* Border color */
    transition: background-color 0.3s, color 0.3s;
  }
  .nav-link.active{
    /* background-color: transparent;
    border: none;
    border-bottom: 2px solid #6244C5;
    padding: 5px 25px;
    color: #6244C5;
    font-weight: 800; */
    background-color: #007bff; /* Blue background */
    color: #fff; /* White text */
    border: 1px solid #007bff; /* Border color same as background */
  }